/*FIRST SETTINGS*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: seashell;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
}


/*HEADER*/

.header-container {
    align-items: center;
    border-bottom: 1px solid seashell;
    display: flex;
    flex-flow: row wrap;
    height: 69px;
    justify-content: flex-start;
}

.tea-cozy-logo {
    height: 50px;
    margin-left: 10px;
}

.menu-container {
    display: flex;
    flex-flow: row wrap;
    gap: 1.75em;
    justify-content: flex-end;
    list-style: none;
    margin-left: 29.2em;
    margin-right: 10px;
}

.menu-links {
    color: seashell;
    text-decoration: underline;
    text-align: center;
}


/*MISSION SECTION*/

h2, h4 {
    margin: 0.4em auto;
    text-align: center;
}

.mission-container {
    align-items: center;
    background-image: url(assets/img-mission-background.jpg);
    display: flex;
    flex-flow: row nowrap;
    height: 700px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.banner-container {
    align-items: center;
    background-color: black;
    justify-content: center;
    flex-flow: row wrap;
    opacity: 0.9;
    margin: 0 auto;
    width: 1200px;
}


/*FEATURED TEA SECTION*/

.featured-tea {
    margin-top: 3.4em;
}

.featured-tea-heading{
    margin-bottom: 1em;
    text-align: center;
}

.flexbox-grid-featured-teas {
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1000px;
}

.featured-tea-images-container {
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    flex: 0 0 calc(33.333% - 0.33em);
}

.featured-tea-images {
    height: 200px;
    margin: auto;
    width: 300px;
}

.tea-label {
    padding: 10px 0 25px 0;
}


/*LOCATIONS SECTION*/

.locations-container {
    align-items: center;
    background-size: cover;
    background-image: url(assets/img-locations-background.jpg);
    background-position: center 1%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    min-height: 570px;
    margin: 1.75em auto;
    padding-top: 2.66em;
    width: 1200px;
}

.locations-heading {
    margin-bottom: 15px;
}

.flexbox-grid-locations {
    align-content: center;
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 1em;
}

.locations-background-items {
    align-items: center;
    background-color: black;
    border-radius: 2px;
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 300px;
    height: 300px;
    justify-content: center;
    opacity: 1;
}

h3 {
    margin: 0 auto;
}

.locations-text-items {
    line-height: 1.75em;
}


/*FOOTER SECTION*/

.contact-container {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 200px;
    margin: 0 auto;
    opacity: 0.9;
}

.contact-heading {
    margin: 0 auto 1.5em auto;
}

.contact-content {
    text-align: center;
    margin-bottom: 3em;
}

.copyright-heading {
    margin-left: 20px;
    text-align: left;
    width: 100%;
}